<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Book</title>
</head>
<body>
    <div align="center">
        <h1>Create New Book</h1>
        <br />
        <form action="#" th:action="@{/savebook}" th:object="${book}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Book ID:</td>
                    <td><input type="text" th:field="*{bookId}" /></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>
                <tr>
                    <td>Publish Date:</td>
                    <td><input type="date" th:field="*{publishDate}" /></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" th:field="*{title}" /></td>
                </tr> 
                <tr>
                    <td>Volume:</td>
                    <td><input type="text" th:field="*{volume}" /></td>
                </tr>                            
                <tr>
                <tr>
                    <td>Subject_ID:</td>
                    <td><input type="text" th:field="*{subjectId}" /></td>
                </tr> 
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>